.video-chat__message-list-wrapper
  li:not(
    :has(
        span img[alt*="サブスクライバー"],
        span img[alt*="Subscriber"],
        span img[alt*="モデレーター"],
        span img[alt*="Moderator"],
        span img[alt*="認証済み"],
        span img[alt*="Verified"],

      )
  ) {
  display: none;
}

.clips-chat-replay
  > div:not(
    :has(
        img[alt*="サブスクライバー"],
        img[alt*="Subscriber"],
        img[alt*="モデレーター"],
        img[alt*="Moderator"],
        img[alt*="認証済み"],
        img[alt*="Verified"],

      )
  ) {
  display: none;
}
