.tcm-balloon-button {
  display: flex;
  align-items: center;
  width: 100%;

  & button {
    width: 100%;
    padding: 0.5rem;
    border-radius: var(--border-radius-medium);
    &:hover {
      background-color: var(--color-background-interactable-hover);
    }
    &:active {
      background-color: var(--color-background-interactable-active);
    }
  }
}
